.controlWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  display: flex;
}

@media only screen and (max-width: 428px) {
  .controlWrapper {
    width: 75vw;
    padding-top: 1rem;
    padding-right: 1.5rem;
    top: 0;
    right: 0;
    flex-direction: column;
  }
}
