@use '../abstracts' as *;

@import './switchModalContentButton';
@import './postApplauseButton';
@import './imageUploadForm';
@import './userProfileView';
@import './siteInfoModal';

.modal {
  background-color: $gray-90-30;
  background-image: linear-gradient(
    42.5deg,
    $gray-90-10 0%,
    $gray-90-30 40%,
    $red-60-30 100%);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  //box-shadow: .125rem .125rem .125rem $gray-90-80;
  border: solid .2rem $gray-90;
  border-radius: 1rem;
  padding: 1rem .5rem;

  position: absolute;
  height: 0;
  width: calc(25vw);
  top: 2.5rem;
  left: 3rem;
  z-index: 150;

  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .contentWrapper {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    position: relative;

    .wrappedModalContent {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      border-radius: .5rem;

      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform 0.7s ease, opacity 0.7s ease;
    }

    .wrappedModalContent:nth-child(2) {
      transform: rotateY(180deg);
    }
  }

  .contentWrapper.backfaceShows {
    .wrappedModalContent:nth-child(1) {
      transform: rotateY(180deg);
    }

    .wrappedModalContent:nth-child(2) {
      transform: rotateY(0deg)
    }
  }

  .galleryWrapper {
    z-index: 200;

    padding: 0;
    padding-bottom: .75rem;
    overflow-y: scroll;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
  }

  h1 {
    margin: 0;
    margin-bottom: .75rem;
    padding-left: .5rem;
    user-select: none;
  }

  h2 {
    margin: 0;
    margin-left: .5rem;
    user-select: none;
  }

  .modalHeader {
    max-width: 80%;
    margin-bottom: .5rem;
    position: sticky;
    display: block;
    top: .5rem;
    flex-grow: 0;
  }

  .subheadWrapper {
    display: flex;
    padding-bottom: .75rem;

    .label {
      color: $gray-50;
    }
  }
}

.modalGalleryImg {
  border: solid 2px $gray-90;
  border-radius: .5rem;
  background-color: $gray-90;
  margin: 0;
  width: 100%;
  pointer-events: none;
  transition: opacity .4s ease;
  visibility: hidden;
}

.modalGalleryImgWrapper {
  overflow: hidden;
  position: relative;
  background-color: $gray-90;
  height: auto;
  box-shadow: -.125rem .125rem .5rem $gray-90-30;
  border-radius: .5rem;
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
}

.modalGalleryImgWrapper:last-child() {
  margin-bottom: 0;
}

.modalGalleryImgWrapper .postApplauseButton {
  opacity: 0;
}

.modalGalleryImgWrapper:hover .postApplauseButton {
  opacity: 1;
}

@media only screen and (max-width: 428px) {
  .modal {
    width: calc(100vw - 2.5rem);
    left: 1.25rem;
    top: 1rem;

    h1 {
      margin-bottom: .5rem;
    }

    .modalGalleryImgWrapper .postApplauseButton {
      opacity: 1;
    }

    .modalHeader {
      margin-bottom: .25rem;
    }

    .modalUploader {
      padding-top: .5rem;

      textarea {
        height: 2rem;
      }
    }
  }
}
