.modal {
  background-color: $gray-90-30;
  background-image: linear-gradient(
    42.5deg,
    $gray-90-10 0%,
    $gray-90-30 40%,
    $red-60-30 100%);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: outset .2rem $gray-90;
  border-radius: 1rem;
  padding: .5rem;
  padding-top: 0;

  position: absolute;
  height: calc(100vh - 6rem);
  width: calc(25vw);
  top: 3rem;
  left: 3rem;

  display: flex;
  flex-direction: column;

  pointer-events: all;

  p {
    font-size: 1rem;
    color: $gray-30;
  }

  h1 {
    margin: .75rem 0;
    padding-left: .5rem;
  }

  h2 {
    margin: 0;
    margin-left: .5rem;
  }

  .modalGalleryImg {
    border: solid 2px $gray-90;
    border-radius: .25rem;
    box-shadow: -.125rem .125rem .5rem $gray-90-30;
  }

  .modalHeader {
    //display: flex;
    //justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  .subheadWrapper {
    display: flex;
  }

}

@media only screen and (max-width: 428px) {
  .modal {
    width: calc(100vw - 3rem);
    height: calc(100vh - 6rem);
    left: 1.5rem;
    top: 2rem;
  }
}
