@use '../abstracts' as *;

#topLevelSearchBar {
  padding: $base-down-2 0;
  padding-left: $base-up-10;
}

#searchIcon {
  width: $base-up-3;
  height: $base-up-3;
  position: absolute;
  left: $base-up-1;
  top: $base-down-3;
}

.searchWrapper {
  width: 18rem;
  position: relative;
  display: inline-block;
  outline: none;

  .searchMatchesWrapper {
    position: absolute;
    top: $base-up-6;
    left: 0;
    right: 0;

    opacity: 0;
    box-shadow: $base-down-4 $base-down-4 $base-down-2 $gray-90-50;
    border-radius: $base-down-2;
    border: 0px solid rgba(0, 0, 0, 0);
    transition: opacity .4s ease;

    .matchedElement {
      padding: $base-down-1;
      user-select: none;
      transition: background-color 0.4s ease;

      h3, p {
        transition: color 0.4s ease;
      }
      h3 {
        margin: 0;
      }
      p {
        color: $gray-20;
        margin: 0;
        margin-top: $base-down-2;
      }
    }

    .matchedElement:nth-child(1) {
      padding-top: $base-down-1;
      border-top-left-radius: $base-down-2;
      border-top-right-radius: $base-down-2;
    }
    .matchedElement:nth-child(odd) {
      background-color: $gray-70
    }
    .matchedElement:nth-child(even) {
      background-color: $gray-80
    }
    .matchedElement:last-child {
      border-bottom: 0px;
      border-bottom-left-radius: $base-down-2;
      border-bottom-right-radius: $base-down-2;
    }

    .matchedElement.highlighted {
      background-color: $gray-30;
      h3 {
        color: $gray-90;
      }
      p {
        color: $gray-80;
      }
    }

    .matchedElement:focus {
      background-color: $gray-30;
      h3 {
        color: $gray-90;
      }
      p {
        color: $gray-80;
      }
    }
  }

}
