.switchModalContentButton {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  border-width: 0px;
  background-color: $gray-80;
  box-shadow: .25rem .25rem .5rem $red-60-30;
  cursor: pointer;

  .frontButtonIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0;
    transition: opacity .4s ease;
    pointer-events: none;
  }

  .backfaceButtonIcon {
    background-color: $gray-80;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    opacity: 0;
    transition: opacity .4s ease;
    border-radius: 2rem;
    pointer-events: none;
  }
}

.switchModalContentButton.backfaceShows {
  box-shadow: .25rem .25rem .5rem $gray-90-30;

  .frontButtonIcon {
    opacity: 0;
  }

  .backfaceButtonIcon {
    opacity: 1;
  }
}
