@use './colors';

$display-font-family: 'Big Shoulders Stencil Text', 'Helvetica', 'sans-serif';
$primary-font-family: 'Cabin Condensed', 'Helvetica', 'sans-serif';

$base-display-font-family-size: 2.5rem;

$base-h1-size: 2.5rem;
$base-up-3: 1.75rem;
$base-h2-size: 1.5rem;
$base-h3-size: 1.25rem;
$base-size: 1rem;

$base-h1-color: colors.$gray-20;
$base-h2-color: colors.$gray-40;
$base-h3-color: colors.$gray-30;
