@use 'variables';
@use 'colors';

$display-font-family: 'Big Shoulders Stencil Text', 'Helvetica', 'sans-serif';
$primary-font-family: 'Cabin Condensed', 'Helvetica', 'sans-serif';

$base-h1-size: variables.$base-up-6;
$base-up-3: variables.$base-up-3;
$base-h2-size: variables.$base-up-2;
$base-h3-size: variables.$base-up-1;
$base-size: variables.$base-size;

$base-h1-color: colors.$gray-20;
$base-h2-color: colors.$gray-40;
$base-h3-color: colors.$gray-30;
