@import './thirdParty/includeMedia';
@import './base/resets';

body {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#mainMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

h2 {
  font-family: 'Big Shoulders Stencil Text', 'Helvetica';
}
