@import './thirdParty/includeMedia';
@import './abstracts/colors';
@import './base/resets';
@import './thirdParty/mapboxOverrides';
@import './components/modals';

body {
  background-color: grey;
  height: 100vh;
  width: 100vw;
  font-family: 'Cabin Condensed', 'sans-serif';
  overflow: hidden;
}

#fileButton {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  z-index: 1000;
}

#mainMap, #modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#mainMap {
  z-index: 50;
}

#modalWrapper {
  pointer-events: none;
  z-index: 100;
}

h1 {
  font-family: 'Big Shoulders Stencil Text', 'Helvetica', 'sans-serif';
}

h2, h3 {
  font-family: 'Cabin Condensed', 'sans-serif';
}

h1 {
  font-size: 2.5rem;
  color: $gray-20;
}

h2 {
  font-size: 1.5rem;
  color: $gray-40;
}

h3 {
  font-size: 1.25rem;
  color: $gray-30;
}
