@use 'abstracts' as *;
@use 'base' as *;

//@import './base/resets';
@import './thirdParty/mapboxOverrides';
@import './thirdParty/firebaseUI';
@import './components/modals';
@import './components/controlWrapper';

body {
  background-color: $gray-90;
  position: relative;
  width: 100vw;
  font-family: $primary-font-family;
  overflow: hidden;
}

#mainMap {
  top: 0;
  left: 0;
  z-index: 50;
}

h1 {
  font-family: $display-font-family;
  font-size: $base-h1-size;
  color: $base-h1-color;
}

h2, h3 {
  font-family: $primary-font-family;
}

h2 {
  font-size: $base-h2-size;
  color: $base-h2-color;
}

h3 {
  font-size: $base-h3-size;
  color: $base-h3-color;
}
