@use '../abstracts' as *;

@mixin button-base {
  appearance: none;
  -webkit-appearance: none;
  font-family: $primary-font-family;
  font-size: $base-h2-size;
  padding: $base-down-2 $base-size;
  outline: none;

  border: solid 1px rgba($gray-20, 0);
  border-radius: $base-down-2;

  color: $gray-10;
  transition: color .7s ease, background-color .7s ease;

  cursor: pointer;

  &:focus {
    border-color: rgba($gray-20, 1);
  }

  * {
    transition: color .7s ease, fill  .7s ease;
  }
}

@mixin button-base-gray {
  @include button-base;
  background-color: $gray-70;

  &:hover {
    background-color: $gray-80;
  }
}

@mixin button-base-blue {
  @include button-base;
  background-color: $blue-60;

  &:hover {
    color: $gray-20;
    background-color: $blue-80;
  }
}
